[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "VisitorCounts"]
	path = VisitorCounts
	url = https://github.com/cran/VisitorCounts
